<a href="https://colab.research.google.com/github/66AbiyyuM66/Pemerograman-Dasar/blob/main/Pertemuan_2_Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 20
salary = 250000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 17
print(type(x))

x = "17"
print(type(x))

x = 17.5
print(type(x))

x = 1+17j
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>

In [ ]:
x = True
y = False
print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [ ]:
x = "polibatam"
print(type(x))

<class 'str'>

In [ ]:
var = 17
print(var)
print(id(var))

var = 26
print(var)
print(id(var))

17
11642600
26
11642888

In [ ]:
multi_line = """Halo semuanya!!
perkenalkan nama saya abiyyu, angka favorit saya 17
saya berumur 20 tahun
senang bertemu dengan kalian"""
print(multi_line)

Halo semuanya!!
perkenalkan nama saya abiyyu, angka favorit saya 17
saya berumur 20 tahun
senang bertemu dengan kalian

In [ ]:
x = "Abiyyu"
print(x[0])

print(x[1:])

print(x[2:6])

A
biyyu
iyyu

In [ ]:
name = "Abiyyu Muflih Kurnia"
print(f"hallo, perkenalkan nama saya {name}")

print("Nama saya %s" % (name))

print("Kalau ingin tahu, nama saya {}" .format  (name))

print("Nama saya :", name)

hallo, perkenalkan nama saya Abiyyu Muflih Kurnia
Nama saya Abiyyu Muflih Kurnia
Kalau ingin tahu, nama saya Abiyyu Muflih Kurnia
Nama saya : Abiyyu Muflih Kurnia

In [ ]:
x = [1, 2.2, "Poloibatam"]

print(type(x))
print(x)

<class 'list'>
[1, 2.2, 'Poloibatam']

In [ ]:
x = [1, "Abiyyu", False, 17,7]

print(x[2])

False

In [ ]:
x = [17, 1.1, "Abiyyu"]
x[1] = "Minang"
print(x)

[17, 'Minang', 'Abiyyu']

In [ ]:
# Deklarasi Variabel List
numbers = [1, 2, 10, 50, 100, 1500]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print(numbers[5])

1
2
10
50
1500

In [ ]:
# Mengubah Nilai Elemenr dalam Variabel list
numbers = [1, 2, 10, 50, 100, 1500]
numbers[4] = 177

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])
print(numbers[4])
print(numbers[5])

1
2
10
50
177
1500

In [ ]:
numbers = [1, 2, 10, 50, 100, 1500]
numbers.insert(1750, 2000)
numbers[1] = 5
numbers.pop(0)

print(numbers)

[5, 10, 50, 100, 1500, 2000]