<a href="https://colab.research.google.com/github/66AbiyyuM66/Pemerograman-Dasar/blob/main/Pertemuan_3_Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = input("Berapa porsi makan yang Anda beli ? : ")
nama = input ("siapa nama pelanggan ? : ")

Berapa porsi makan yang Anda beli ? : 10
siapa nama pelanggan ? : Agus

In [ ]:
total = float (input ("Berapa porsi makan yang anda beli ? : "))
nama = str (input ("siapa nama pelanggan ? : "))

Berapa porsi makan yang anda beli ? : 23.5
siapa nama pelanggan ? : DJ Kahim

In [ ]:
food = "Sushi rasa es cendol"
print("Abiyyu sedang memesan beberapa porsi", food)
print("Abiyyu sedang memesan beberapa porsi " + food)
print("Abiyyu sedang memesan beberapa porsi %s" % (food))

Abiyyu sedang memesan beberapa porsi Sushi rasa es cendol
Abiyyu sedang memesan beberapa porsi Sushi rasa es cendol
Abiyyu sedang memesan beberapa porsi Sushi rasa es cendol

In [ ]:
# Contoh penggunaan operator format output

umur = 20
nilai = 87.776
nama = "Agus Ilhamudin"
angka = 249

print("umur saya adalah %d tahun" % (umur))
print("nilai rata rata saya adalah %2.f" % (nilai))
print("nama panjang saya adalah %s" % (nama))
print("angka %d dalam heksadesimal adalah %x" % (angka, angka))
print("angka %d dalam bilangan oktal adalah %o" % (angka, angka))

umur saya adalah 20 tahun
nilai rata rata saya adalah 88
nama panjang saya adalah Agus Ilhamudin
angka 249 dalam heksadesimal adalah f9
angka 249 dalam bilangan oktal adalah 371

In [ ]:
a = 47
b = 666

print("penjumlahan:", a + b)
print("pengurangan:", a - b)
print("perkalian:", a * b)
print("pembagian:", a / b)

penjumlahan: 713
pengurangan: -619
perkalian: 31302
pembagian: 0.07057057057057058

In [ ]:
harga_makan = int(input("Berapa harga indomie rasa rendang? "))
jumlah_makan = int(input("berapa porsi yang di beli? "))
total_makan = harga_makan * jumlah_makan

print (f"harga makan per porsi = {harga_makan}, totalnya adalah {total_makan}")

Berapa harga indomie rasa rendang? 7000
berapa porsi yang di beli? 2
harga makan per porsi = 7000, totalnya adalah 14000

In [ ]:
bilangan = 15
hasil = (bilangan > 0) and (bilangan % 5 == 0)
print("genap dan positif?", hasil)

genap dan positif? True

In [ ]:
#Konversi waktu

total_detik = 3600
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 60
detik = sisa_detik % 60

print(f"hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")

hasil konversi: 1 Jam, 0 Menit, 0 Detik

In [ ]:
#Konversi waktu

total_detik = int(input("Total Detik? : "))
jam = total_detik // 3600
sisa_detik = total_detik % 3600
menit = sisa_detik // 60
detik = sisa_detik % 60

print(f"hasil konversi: {jam} Jam, {menit} Menit, {detik} Detik")

Total Detik? : 358200
hasil konversi: 99 Jam, 30 Menit, 0 Detik

In [ ]:
tugas = 50
uts = 70
uas = 100
nilai_akhir = (0.3 * tugas) + (0.3 * uts) + (0.4 + uas) // 3

print("nilai akhir = ", nilai_akhir)

nilai akhir =  69.0

In [ ]:
kimia = float(input("Nilai Kimia: "))
fisika = float(input("Nilai Fisika: "))
mtk = float(input("Nilai MTK: "))
b_inggris = float(input("Nilai Bahasa Inggris: "))
b_indonesia = float(input("Nilai Bahasa Indonesia: "))

nilai_mahasiswa = (kimia + fisika + mtk + b_inggris + b_indonesia)
rata_rata_nilai = nilai_mahasiswa / 5
standar_kelulusan = float(input("Standar Kelulusan: "))
apakah_lulus = nilai_mahasiswa >= standar_kelulusan
perlu_remed = nilai_mahasiswa <= standar_kelulusan

print(f"Nilai Mahasiswa: {nilai_mahasiswa}")
print(f"Rata Rata Nilai: {rata_rata_nilai}")
print(f"Standar Kelulusan: {standar_kelulusan}")
print(f"Apakah Mahasiswa Lulus? {apakah_lulus}")
print(f"Perlu Remedial? {perlu_remed}")

Nilai Kimia: 70
Nilai Fisika: 75
Nilai MTK: 80
Nilai Bahasa Inggris: 75
Nilai Bahasa Indonesia: 60
Standar Kelulusan: 75
Nilai Mahasiswa: 360.0
Rata Rata Nilai: 72.0
Standar Kelulusan: 75.0
Apakah Mahasiswa Lulus? True
Perlu Remedial? False

In [ ]:
belanja = 850000
diskon = (0, 0.1 * belanja)[belanja > 500000]
total_harga = belanja - diskon

print(f"Total harga setelah diskon = RP.", total_harga)

Total harga setelah diskon = RP. 765000.0

In [ ]:
Fixie_Ardently_Fullset = float (input("Harga : Rp.  "))
diskon = (0, 0.35 * Fixie_Ardently_Fullset)[Fixie_Ardently_Fullset > 1000000]
total_harga = Fixie_Ardently_Fullset - diskon

print(f"Total harga setelah diskon = Rp.", total_harga)

Harga : Rp.  7200000
Total harga setelah diskon = Rp. 4680000.0